body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(https://learn.zone01dakar.sn/assets/img/01-trame.svg);
  color: white;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  max-width: 900px; /* Augmenter la largeur pour plus d'espace */
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  position: relative;
}

#user-info {
  flex: 1;
}

#bar-chart-container {
  flex: 0 0 400px;
  margin-left: 20px;
}

#logout {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

#logout:hover {
  background-color: #0056b3;
}

#chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

#bar-chart, #pie-chart {
  max-width: 800px;
  max-height: 600px;
}
