body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(https://learn.zone01dakar.sn/assets/img/01-trame.svg);
  color: white;
}
#user-info p {
  margin-bottom: 10px; /* Ajoute de l'espace entre les éléments <p> */
  font-style: italic; /* Applique un style en italique */
}

.logout-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(54, 206, 244, 0.815);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000; /* Assurez-vous que le bouton est au-dessus des autres éléments */
  border: 2px solid red; /* Ajouter une bordure rouge pour la visibilité */
}

.logout-btn:hover {
  background-color: #e01c1c;
}



#bar-chart, #pie-chart {
  max-width: 800px;
  max-height: 600px;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  max-width: 1000px; /* Augmenter la largeur pour plus d'espace */
  width: 100%; /* Assurez-vous qu'il prenne toute la largeur disponible */
  margin: auto;
  padding: 20px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  position: relative;
}

#bar-chart-container {
  width: 70%; /* Limiter la largeur du conteneur */
  margin-top: 20px;
  margin-left: 10%; /* Ajouter une marge à droite pour le décaler */
}

#horizontal-bar-chart {
  width: 100%;
  height: 250px;
}
@media (max-width: 600px) {
  .logout-btn {
    font-size: 14px;
    padding: 8px 16px;
    top: 10px;
    right: 10px;
  }

  .profile-container {
    padding: 10px;
  }

  #bar-chart, #pie-chart {
    max-width: 100%;
    max-height: 300px;
  }
}


