body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(https://learn.zone01dakar.sn/assets/img/01-trame.svg);
  color: white;
}

/* .profile-container {
  display: flex;
  align-items: flex-start;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  position: relative;
} */

#user-info {
  flex: 1;
}

/* #bar-chart-container {
  flex: 0 0 400px;
  margin-left: 20px;
} */

.logout-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(54, 206, 244, 0.815);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 20px;
  right: 20px;
}


.logout-btn:hover {
  background-color: #c57b7b;
}

/* 
#chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
} */

#bar-chart, #pie-chart {
  max-width: 800px;
  max-height: 600px;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  max-width: 1000px; /* Augmenter la largeur pour plus d'espace */
  width: 100%; /* Assurez-vous qu'il prenne toute la largeur disponible */
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  position: relative;
}

#bar-chart-container {
  width: 70%; /* Limiter la largeur du conteneur */
  margin-top: 20px;
  margin-right: 15%; /* Ajouter une marge à droite pour le décaler */
}

#horizontal-bar-chart {
  width: 100%;
  height: 250px; /* Augmentez cette valeur si nécessaire */
}

